name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_db:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: DB-tests
      run: | 
        cargo test -- --nocapture
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_update_content_post_ok
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_update_set_post_ok
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_delete_withput_update
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_delete_post_ok
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_update_uniqueness_set_post_ok
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_match_any_update_fail
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_match_any_update_post_ok
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_match_all_update_post_ok
    - name: DB-FMT
      run: cargo fmt -- --check
  
  build_wql:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: WQL-tests
      run:  cargo test --manifest-path wql/Cargo.toml
    - name: WQL-FMT
      run: cargo fmt --manifest-path wql/Cargo.toml -- --check

