name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_db:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: DB-tests
      run: cargo test -- --nocapture
    - name: DB-FMT
      run: cargo fmt -- --check

  build_release_tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: DB-release-tests
      run: |
        cargo test --release -- --ignored auth::controllers::routes_test_with_auth::query_and_tx_with_token

  build_side_effects_tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: DB-tests
      run: |
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_update_content_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_update_set_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_delete_withput_update
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_delete_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_update_uniqueness_set_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_match_any_update_fail
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_match_any_update_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_match_all_update_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_match_all_update_fake_key
        rm -rf data/*.log
        cargo test -- --ignored controllers::test::test_match_any_update_fake_key
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_update_set_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_select_args_id_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_select_keys_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_select_all_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_select_all_ids_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_select_keys_ids_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::query_test::test_select_all_without_encrypts_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::tx_test::test_update_set_encrypt_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::tx_test::test_update_content_encrypt_post_err
        rm -rf data/*.log
        cargo test -- --ignored controllers::tx_test::test_check_encrypt_post_ok
        rm -rf data/*.log
        cargo test -- --ignored controllers::clauses_test::simple_where_clause_eq
        rm -rf data/*.log
        cargo test -- --ignored controllers::clauses_test::clause_between
        rm -rf data/*.log
        cargo test -- --ignored controllers::clauses_test::clause_in
        rm -rf data/*.log
        cargo test -- --ignored controllers::clauses_test::clause_ge_le
        rm -rf data/*.log
        cargo test -- --ignored controllers::clauses_test::clause_or

  build_feature_tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: DB-featured-tests
      run: | 
        cargo test --features test_read io::read::test::encryption_test
        cargo test --features test_read io::read::test::local_data_test
        cargo test --features test_read io::read::test::offset_test
        cargo test --features test_read io::read::unique_data_test

  build_wql:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: WQL-tests
      run:  cargo test --manifest-path wql/Cargo.toml
    - name: WQL-FMT
      run: cargo fmt --manifest-path wql/Cargo.toml -- --check
    - name: WQL-install-clippy
      run: rustup component add clippy
    - name: WQL-clippy
      run: cargo clippy --manifest-path wql/Cargo.toml -- -W clippy::pedantic

