name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
    - name: FMT
      run: cargo fmt -- --check
      
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build
    - name: Run tests
      run: | 
        cargo test -- --nocapture
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_update_content_post_ok
        rm -rf *.log
        cargo test -- --ignored controllers::wql::test::test_update_set_post_ok

